.normalBackground {
  background-image: url("../img/royal_road.png");
  background-size: cover;
}

.humanBackground {
  background-image: url("../img/human_city.png");
  background-size: cover;
}

.dwarfBackground {
  background-image: url("../img/dwarf_city.png");
  background-size: cover;
}

.elfBackground {
  background-image: url("../img/elf_city.png");
  background-size: cover;
}
