* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.normalBackground {
  background-image: url("https://i.pinimg.com/originals/23/1c/02/231c02cded02b2bf1fb83308988d29fc.jpg");
}

.normalBackground h1 {
  font-family: 'Mea Culpa', cursive;
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
}

.normalBackground h2 {
  font-family: 'Mea Culpa', cursive;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 8px;
}

.normalBackground p {
  text-align: center;
  padding: 2px 15px 2px;
  font-family: 'Bellefair', serif;
  margin-bottom: 3px;
}

.normalBackground .textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.normalBackground .textBox button {
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  background-color: #979797;
  border-radius: 3px;
  font-family: 'Share Tech Mono', monospace;
}

.normalBackground .textBox input {
  font-family: 'Bellefair', serif;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 5px;
}

.normalBackground .textBox abbr {
  text-decoration: none;
}
