#story {
  overflow-y: auto;
}

#story p {
  font-size: 1rem;
}

.results {
  font-size: 0.7rem;
  color: #0b0bb1;
  margin-top: 5px;
  margin-bottom: 5px;
}

#products {
  font-size: 0.7rem;
  color: #3a0353;
  margin-top: 5px;
  margin-bottom: 5px;
}

#description {
  font-size: 0.6rem;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.choices {
  color: #720b0b;
}
